<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772112957915-itfr6epseiaqn3fb5jbkh36uirc6vpuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772112957915-itfr6epseiaqn3fb5jbkh36uirc6vpuu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772112957915-j5bq8k0hokso660d8u150ba7svuump8n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>772112957915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecmyer.ar</string>
	<key>PROJECT_ID</key>
	<string>arinstrumed-ee71f</string>
	<key>STORAGE_BUCKET</key>
	<string>arinstrumed-ee71f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772112957915:ios:9117c18646b134ec4da7fe</string>
</dict>
</plist>